*.iml
.gradle
/local.properties
.idea/*
!.idea/fileTemplates
!.idea/codeStyles
!.idea/codeStyleSettings.xml
!.idea/encodings.xml
!.idea/inspectionProfiles
.DS_Store
build
/buildSrc/build/*
/captures
.externalNativeBuild
app/.idea
app/google-services.json
projectFilesBackup
